<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Calculation results</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <style>
            p {
                padding-left: 22px ;
            }
            li {
                padding-left: 22px ;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>Calculation results</h1>
        </div>

        <div>
            <h4>Total instruments</h4>
            <p>{{totalInstruments}}</p>
        </div>
        <div>
            <h4>Number of lines processed</h4>
            <p>{{numberOfLinesProcessed}}</p>
        </div>
        <div>
            <h4>Time elapsed</h4>
            <p>{{timeElapsed}}</p>
        </div>
        <div>
            <h4>Calculated values</h4>
            <p>
                {{#calculatedValues}}
                    <li>{{.}}</li>
                {{/calculatedValues}}
            </p>
        </div>
        <br><br>

        <div>
            <h6>Good bye!</h6>
        </div>
    </body>
</html>
